// SASS VARIABLES
$links: #000;
$links-hover: #B8860B;
$bg-white: #FFF;
$first-border: #CCC;
$first-links-bg: #EEE;
$links-hover-bg: #666;
$text-color:#333;
$second-links-hover: #4169E1;
$h1-first:#FFD700;

//queries

$gold-a-hover:#999;